<% provide(:title, 'About') %>
<div class="center hero-unit">
<h1>Apie mus</h1>
<p><h3>UAB „Samarina“ pradėjo savo veiklą dar prieš 20 metų, ir iki šiol sėkmingai vykdome ir turime didelį laimingų klientų ratą. Mes esame tikrieji LINAVA nariai.</h3></p>
<p><h3>Mūsų pagrindinė veikla - tarptautiniai krovinių pervežimai tentinėmis puspriekabėmis sausuma ir ekspedijavimo paslaugos. Turime patikimus, tarptautinį vardą turinčius partnerius, su kurių pagalba padėsime saugiai ir greitai pristatyti Jūsų krovinį iš taško A į tašką B.</h3></p> 
<p><b>Mūsų įmonė - tai..</b></p>
<ul class="a">
<li><b>Rimtas ir atsakingas požiūris į darbą!</b> Dirbame, jog maksimaliai patenkintume kliento poreikius
<li><b>Naujas ir patikimas vilkikų parkas su kvalifikuotais vairuotojais!</b> Kiekvienais metais atnaujiname vilkiku ir puspriekabių parką, tuo garantuodami technikos patikimumą ir saugumą kelyje ir taip pat prisidedami prie aplinkos apsaugos, nes vilkikai atitinka naujausius oro taršos reikalavimus
<li><b>Patikimi darbuotojai!</b> Vairuotojams reguliariai rengiame ekologiško ir saugaus vairavimo kursus, tuom prisidedami prie aplinkos apsaugos. Darbuotojų kaita yra maža, ir tai padeda išlaikyti ilgalaikį profesionalų servisą
<li><b>Moderni informacinė sistema!</b> Naudojame naujausias technologijas, padedančias efektyviausiai suteikti informaciją klientui pradedant nuo 24/7 automobilių stebėjimo, perduodant klientui nuorodą iki elektoroninių sąskaitu ir pervežimo dokumentų pateikimo iškarto po krovinio pristatymo
<li><b>Draudimas ir garantijos</b> Mūsų visas parkas apdraustas KASKO ir civiline atsakomybę, kroviniai apdrausti Vežėjo civilinės atsakomybes (CMR) draudimu.
<li><b>Sąžiningas ir ilgalaikis požiūris į kainas!</b> Galime pasiūlyti ilgalaikes pervežimo kainas, neatsižvelgiant į sezoniškumą, garantuodami geriausią servisą </ul></h3></p>
<p><h1> Dirbame Jums! </h1></p>