<% provide(:title, 'About') %>
<h1>Apie mus</h1>
<p>
   <h3>DVD nuoma pradejo veikti 2014 metais pagal atsiradusį klientų pageidavimą. Tikimės, jog ir toliau tęsime savo veiklą šioje srityje.</h3>
</p>