<% provide(:title, 'Contact') %>
<div class="center hero-unit">
<h1>Kontaktai ir rekvizitai</h1>
<p><div align=left><b> UAB &quot;Samarina&quot;</b></div>
<div align=left>E. Šimkūnaitės g. 10</div>
<div align=left>LT-04130 Vilnius, Lietuva</div>
<div align=left>Tel. +370 5 2392182 </div>
<div align=left>Faks. +370 5 2392183</div>
<div align=left>El. paštas <a href="mailto:info@samarina.lt">info@samarina.lt</a></div>
<div align=left>Įmonės kodas 122602672</div>
<div align=left>PVM kodas LT226026716</div>
<div align=left>a/s LT107300010002480942</div>
<div align=left>AB Swedbank</div> 
<br></p>
<div align=left><b>Kontaktai:</b></div>
<br>
<div align=left><b>Direktorius</b></div>
<div align=left>Alfredas Pacevičius</div>
<div align=left>+370 5 2392182</div>
<div align=left>El. paštas <a href="mailto:alfredas.pacevicius@samarina.lt">alfredas.pacevicius@samarina.lt</a></div>
<br>
<div align=left><b>Direktoriaus pavaduotojas</b></div>
<div align=left>Audrius Mikalauskas</div>
<div align=left>+370 5 2392182</div>
<div align=left>El. paštas <a href="mailto:audrius.mikalauskas@samarina.lt">audrius.mikalauskas@samarina.lt</a></div>
<br>
<div align=left><b>Pardavimų vadovė</b></div>
<div align=left>Rasa Skiparytė-Pocienė</div>
<div align=left>+370 618 45547</div>
<div align=left>El. paštas <a href="mailto:rasa@samarina.lt">rasa@samarina.lt</a></div>
<br>
<div align=left><b>Vadybininkas (tansportas)</b></div>
<div align=left>Joanas Kaminskas</div>
<div align=left>+370 614 246047</div>
<div align=left>El. paštas <a href="mailto:joanas@samarina.lt">joanas@samarina.lt</a></div>
<br>
<div align=left><b>Vadybininkas (transporto priežiūra ir
techninis aptarnavimas)</b></div>
<div align=left>Arūnas Nečiūnas</div>
<div align=left>+370 610 76768</div>
<div align=left>El. paštas <a href="mailto:arunas@samarina.lt">arunas@samarina.lt</a></div>
<br>
<div align=left><b>Ekspedicijos vadybininkas</b></div>
<div align=left>Justinas Mažuika</div>
<div align=left>+370 655 98718</div>
<div align=left>El. paštas <a href="mailto:justinas@samarina.lt">justinas@samarina.lt</a></div>
<br>
<div align=left><b>Administratorė-vadybininkė</b></div>
<div align=left>Ieva Pukelytė-Každailienė</div>
<div align=left>+370 5 2392182</div>
<div align=left>El. paštas <a href="mailto:ieva.pukelyte@samarina.lt">ieva.pukelyte@samarina.lt</a></div>
<br>
<div align=left><b>Vyr. buhalterė</b></div>
<div align=left>Tamara Gaisionok</div>
<div align=left>+370 5 2392182</div>
<div align=left>El. paštas <a href="mailto:buhalterija@samarina.lt">buhalterija@samarina.lt.lt</a></div>
</p>