<% provide(:title, 'Contact') %>
<h1>Kontaktai</h1>
<p>
 <h2>Mūsų adresas: DVD Nuoma, Viršuliškių g. 40 , Vilnius : PC Mada</h2>
  <div class="mapCanvas" style="width: 500px; height: 400px"></div>
</p>