<% provide(:title, 'Help') %>
<h1>Pagalba</h1>
<p>
  <H3>Jei iškilo klausimų dėl nuomuos, prašome susiekti telefonu +37067665511 arba email'u <a href="mailto:joanas.kaminskas@gmail.com">Joanas Kaminskas</a> </H3>

</p>