<% provide(:title, 'Help') %>
<div class="center hero-unit">
<h1>Paslaugos</h1>
<br><p>Šiuo metu turime 45-is vilkikus iš kurių 20 važinėja reguliariais maršrutais Lietuva - ES įvairios šalys. Likę 25-i vilkikai važiuoja 1,5 mėnesio maršrutams po ES šalis. Vilkikai, kurie važiuoja maršrutais Lietuva - ES šalys, turi bortines 92m<sup>3</sup> puspriekabes. Taipogi jos gali krautis per viršų ir šoną.</p>
<table align="center"> <tr>
<td>
   <%= image_tag("bortas.jpg", :alt => "„Bortinė puspriekabė“") %>
</td>
</tr>
</table>
<br><p>Turime dvi „dvigubo dugno“ puspriekabes, kurios puikiai tinka nedidelio aukščio ir svorio krovinias arba rinktiniams kroviniams.</p>
<table align="center"> <tr>
<td>
   <%= image_tag("doubledeck.jpg", :alt => "„Dvigubo dugno puspriekabė“") %>
</td>
</tr>
</table>
<br><p>Vilkikai, dirbantys po ES šalis, turi užuolaidines puspriekabes. Jos taip pat gali krautis per viršų ir šoną.</p> 
<table align="center"> <tr>
<td>
   <%= image_tag("uzuolaida.jpg", :alt => "„Užuolaidinė puspriekabė“") %>
</td>
</tr>
</table>