<div class="center hero-unit">
 
  <h2><p class="serif">UAB &quot;Samarina&quot; yra transporto įmonė, 2014 metais šventusi savo 20-metį. Įmonė turi 45-is vilkikus. Du trečdaliai vilkikų atitinka EURO4 ir EURO5 klases. Per ilgus įmonės gyvavimo metus specializavomės tarptautiniuose pervežimuose tarp Lietuvos ir Lenkijos, Vokietijos, Italijos, Šveicarijos, Čekijos, Belgijos, Olandijos. Galime pasiūlyti nuosavą transportą, taip pat ir partnerių tranportą ir terminalus. Sėkmingai dirbame vidiniais maršrutais po ES šalis.</p></h2>
<table class="style1" align="center"> <tr>
<td>
   <%= image_tag("samarina1.jpg", :alt => "„Samarina“") %>
</td>
</tr>
</table>

 </div>


