<% provide(:title, 'susisiekite') %>
<h1>Susisiekite</h1>
<p>
  Susisiekite su mumis jei norite pervežti krovinį:</p>
<p>Jūsų vardas: <input type="text" name="Vardas" size="20" maxlength="80"> </p>
<p>Elektroninis pašto adresas: <input type="text" name="Elektroninis pašto adresas" size="20" maxlength="80"> </p>
<p><textarea align="left"; cols="40"; rows="5";>Įrašykite savo užklausą čia...
 </textarea></p>
 <p><input type="submit" name="ok" value="Siųsti"><input type="reset" name="Atšaukti"></p>
</form>
</p>