@import "bootstrap";

/* mixins, variables, etc. */

$blue: #2674EA;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color:lightyellow;
}

table.style1 img {
  width: 500px;
  height: 300px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: left;
  h1 {
    margin-bottom: 10px;
    font-size: 2em;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  font-family: serif;
  color: $gray;
}

h3 {
  font-size: 1,5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: normal;
  color: $gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: left;
}


/* header */

table.style2 img {
  width: 150px;
  height: 80px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: blue;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $blue;
  color: $blue;
  a {
    color: $blue;
    &:hover {
      color: $blue;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}