<footer class="footer">
  <small>
  <b>UAB &quot;Samarina&quot; E. Šimkūnaitės g. 10, Vilnius, Lietuva; tel. +370 5 2392182</b>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Apie",   about_path %></li>
      <li><%= link_to "Kontaktai", contact_path %></li>
      <li><a href="http://www.cargonews.lt/">Naujienos</a></li>
    </ul>
  </nav>
</footer>